---
import Layout from "../layouts/Layout.astro";

import BtnPrimary from "../components/BtnPrimary.astro";
import SuccessStory from "../components/SuccessStory.astro";
import Eyebrow from "../components/Eyebrow.astro";
import NewsfeedItem from "../components/NewsfeedItem.astro";

import { sanityClient } from "sanity:client";

const data = await sanityClient.fetch(`*[_type == "homepage"]`);
const content = data[0];

const newsData = await sanityClient.fetch(`*[_type == "news"]`);

import { urlForImage } from "../sanity/lib/urlForImage";
---

<Layout>
  <section>
    <div class="bg-gradient-to-b from-white to-sky-100 py-32 lg:py-56">
      <div class="max-w-[1440px] px-5 mx-auto flex flex-col gap-10 lg:flex-row">
        <div class="flex flex-1 flex-col justify-center gap-10">
          <h1 class="text-display">{content.hero.heading}</h1>
          <p class="text-xl">{content.hero.subParagraph}</p>
          <BtnPrimary link="#" text="Partner with us now" theme="white" />
        </div>
        <div class="relative flex flex-1 items-center justify-center">
          <img
            src="/img/heroCloud.png"
            alt="Decorative cloud background"
            class="aspect-video w-full max-w-[90%] rounded-2xl object-cover md:aspect-[2/3] md:max-w-[60%]"
          />
          <img
            src="/img/heroPlane.png"
            alt="Decorative aeroplane image"
            class="absolute w-full"
          />
        </div>
      </div>
    </div>
    <div class="bg-gradient-to-t from-white via-white to-sky-100 pt-20 md:pt-0">
      <div class="max-w-[1440px] px-5 mx-auto flex gap-16 flex-col relative">
        <p class="max-w-none lg:max-w-[50%]">
          {content.how.subParagraph}
        </p>
        <p class="font-light text-4xl leading-snug text-brand">
          {content.how.heading}
        </p>
        <div class="flex flex-col md:flex-row justify-between gap-5">
          {
            content.how.hows.map((how, index) => (
              <div class="min-h-[240px] h-full flex flex-col justify-between bg-slate-50 rounded-lg p-4 max-w-[400px]">
                <div>
                  <p class="text-sky-600">0{index + 1}</p>
                  <p class="text-2xl font-light text-brand">{how.name}</p>
                </div>
                <p>{how.description}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <section class="pt-40 lg:py-56">
    <div class="max-w-[1440px] px-5 mx-auto flex flex-col gap-10 lg:flex-row">
      <div class="flex-1">
        <Eyebrow text={content.dedicatedTeam.subheading} />

        <h2 class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl">
          {content.dedicatedTeam.heading}
        </h2>
      </div>
      <div class="flex flex-1 flex-col gap-10">
        <p class="text-base sm:text-xl">
          {content.dedicatedTeam.subParagraph}
        </p>
        <ul class="flex flex-col divide-y-2 border-b-2 text-xl sm:text-2xl">
          {
            content.dedicatedTeam.advantages.map((advantage) => (
              <li class="flex gap-2 py-6">
                <img
                  src="/img/checklist.svg"
                  alt="Checklist"
                  class="h-5 sm:h-8"
                />
                {advantage}
              </li>
            ))
          }
        </ul>
        <SuccessStory />
      </div>
    </div>
  </section>

  <section
    class="max-w-[1440px] px-5 mx-auto grid grid-cols-1 grid-rows-[repeat(3,fit-content)] gap-10 pt-32 lg:grid-cols-2 lg:grid-rows-[repeat(2,fit-content)]"
  >
    <div>
      <Eyebrow text={content.servicesSection.subheading} />

      <h2 class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl">
        {content.servicesSection.heading}
      </h2>
    </div>

    <div class="row-start-2 flex flex-col gap-10 lg:col-span-2 lg:flex-row">
      {
        content.servicesSection.services.map((service) => (
          <div class="flex-1">
            <div class="flex items-center gap-2 text-xl font-semibold text-sky-600">
              <img
                src={urlForImage(service.icon).url()}
                alt={`Icon decoration for ${service.name} service.`}
                class="w-11"
              />
              <p>{service.name}</p>
            </div>
            <ul class="flex flex-1 flex-col divide-y">
              {service.activities.map((activity) => (
                <li class="gap-2 py-4">{activity}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </section>

  <section
    class="max-w-[1440px] px-5 mx-auto flex flex-col gap-10 pt-32 md:flex-row"
  >
    <div class="flex-1">
      <Eyebrow text={content.partnershipsSection.subheading} />
      <h2 class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl">
        {content.partnershipsSection.heading}
      </h2>
    </div>
    <div class="flex flex-1 flex-col gap-5">
      <p>
        {content.partnershipsSection.subParagraph}
      </p>
      <p>Some of our well-established partnerships:</p>
      <div
        class="grid grid-cols-2 grid-rows-2 place-items-center gap-12 lg:grid-cols-3"
      >
        {
          content.partnershipsSection.partners.map((partner) => (
            <img
              src={urlForImage(partner.agentLogo).url()}
              alt={partner.agentName}
              class="grayscale"
            />
          ))
        }

        <p
          class="col-span-2 size-full content-center rounded-xl bg-slate-100 py-12 text-center lg:col-span-1"
        >
          and more...
        </p>
      </div>
    </div>
  </section>

  <section class="pt-32">
    <div
      class="max-w-[1440px] px-5 mx-auto flex flex-col items-end gap-10 lg:flex-row"
    >
      <div class="flex-1">
        <Eyebrow text={content.eventsSection.subheading} />
        <h2 class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl">
          {content.eventsSection.heading}
        </h2>
      </div>
      <p class="flex-1">
        {content.eventsSection.subParagraph}
      </p>
    </div>
    <div
      class="mt-20 grid grid-cols-1 justify-between px-5 text-white gap-5 lg:grid-cols-2 xl:grid-cols-4"
    >
      {
        content.eventsSection.events.map((e) => (
          <div
            class="relative flex aspect-square flex-1 flex-col justify-end gap-2 overflow-hidden rounded-2xl bg-cover p-5 sm:aspect-[3/2] xl:aspect-[3/4]"
            style={`background-image: url('${urlForImage(e.image).url()}')`}
          >
            <h3 class="z-10 text-3xl">{e.title}</h3>
            <p class="z-10">{e.description}</p>
            <div class="pointer-events-none absolute inset-0 bg-gradient-to-b from-transparent to-sky-600 to-90%" />
          </div>
        ))
      }
    </div>
  </section>

  <section class="max-w-[1440px] px-5 mx-auto py-32">
    <h2 class="mb-12 text-5xl text-brand">Newsfeed</h2>
    <div class="flex flex-col gap-20">
      {
        newsData.map((news) => (
          <NewsfeedItem
            title={news.title}
            excerpt={news.excerpt}
            thumbnail={urlForImage(news.thumbnail)}
            slug={news.slug.current}
          />
        ))
      }
      <div class="text-right">
        <BtnPrimary link="/news" text="See all news" theme="light" />
      </div>
    </div>
  </section>
</Layout>
