---
const { headcontent = {} } = Astro.props;
import Basehead from "../components/Basehead.astro";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Basehead
      title={headcontent.title}
      description={headcontent.description}
      keywords={headcontent.keywords}
      canocial={headcontent.canonical}
      ogImage={headcontent.ogImage}
      url={headcontent.url}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
